<!-- <p>add-recipe works!</p>
<label>NgModel input</label>
<input type = "text" [(ngModel)]="binding">
{{binding}} -->
<body>
    <div class = "form">
        <form [formGroup]="addRecipeForm" (ngSubmit)="onSubmit()" class="form-container">
            <h2>Please add your recipe below:</h2>
            
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">

            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Image Link</mat-label>
                <input matInput type="text" formControlName="image">

            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Difficulty</mat-label>
                <!-- <input matInput type="text" formControlName="difficulty"> -->
                <mat-select formControlName="difficulty">
                    <mat-option value="one">Easy</mat-option>
                    <mat-option value="two">Medium</mat-option>
                    <mat-option value="three">Hard</mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Preparation Time</mat-label>
                <input matInput type="number" formControlName="prepTimeMinutes">

            </mat-form-field>
            
            
            <div class="button-group">
                <button mat-raised-button color="primary" type = "submit" [disabled]="addRecipeForm.invalid">Submit</button>
                <button mat-raised-button class="home-button" (click)="redirectToHomeComponent()">Go back</button>
            </div>
            <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

        </form>
    </div>

    
</body>
{{localStorageValue}}